DATABASE_NAME=cpa
DATABASE_USER=postgres
DATABASE_PASSWORD=12345
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_URL="postgresql://postgres:12345@db:5432/cpa"

SECRET_KEY=mysecretkey
JWT_SECRET=123456
PORT=3034


# Lyceum consumer tem que ser um usuario com permissoes de consumo da api da uea 
LYCEUM_CONSUMER_EMAIL=your-email@example.com
LYCEUM_CONSUMER_PASSWORD=your-password

ADMIN_NAME=Admin
ADMIN_EMAIL=admin@teste.com
