.form-control{
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="none" stroke="gray" stroke-width="2" d="M6 8l4 4 4-4"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

input[type="date"].form-control {
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"].form-control {
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

